[submodule "findings/001/2024-06-size"]
	path = findings/001/2024-06-size
	url = https://github.com/code-423n4/2024-06-size.git
[submodule "findings/003/2023-07-pooltogether"]
	path = findings/003/2023-07-pooltogether
	url = https://github.com/code-423n4/2023-07-pooltogether.git
[submodule "findings/008/2023-09-centrifuge"]
	path = findings/008/2023-09-centrifuge
	url = https://github.com/code-423n4/2023-09-centrifuge.git
[submodule "findings/009/2023-04-caviar"]
	path = findings/009/2023-04-caviar
	url = https://github.com/code-423n4/2023-04-caviar.git
[submodule "findings/015/2023-07-pooltogether"]
	path = findings/015/2023-07-pooltogether
	url = https://github.com/code-423n4/2023-07-pooltogether.git
[submodule "findings/018/2023-04-caviar"]
	path = findings/018/2023-04-caviar
	url = https://github.com/code-423n4/2023-04-caviar.git
[submodule "findings/020/2023-12-dodo-gsp"]
	path = findings/020/2023-12-dodo-gsp
	url = https://github.com/sherlock-audit/2023-12-dodo-gsp.git
[submodule "findings/032/2022-06-putty"]
	path = findings/032/2022-06-putty
	url = https://github.com/code-423n4/2022-06-putty.git
[submodule "findings/033/2023-04-caviar"]
	path = findings/033/2023-04-caviar
	url = https://github.com/code-423n4/2023-04-caviar.git
[submodule "findings/039/2024-03-axis-finance"]
	path = findings/039/2024-03-axis-finance
	url = https://github.com/sherlock-audit/2024-03-axis-finance.git
[submodule "findings/041/2024-03-axis-finance"]
	path = findings/041/2024-03-axis-finance
	url = https://github.com/sherlock-audit/2024-03-axis-finance.git
[submodule "findings/042/2025-07-cap"]
	path = findings/042/2025-07-cap
	url = https://github.com/sherlock-audit/2025-07-cap.git
[submodule "findings/046/2023-05-xeth"]
	path = findings/046/2023-05-xeth
	url = https://github.com/code-423n4/2023-05-xeth.git
[submodule "findings/048/2023-04-caviar"]
	path = findings/048/2023-04-caviar
	url = https://github.com/code-423n4/2023-04-caviar.git
[submodule "findings/049/2023-08-cooler"]
	path = findings/049/2023-08-cooler
	url = https://github.com/sherlock-audit/2023-08-cooler.git
[submodule "findings/051/2023-09-centrifuge"]
	path = findings/051/2023-09-centrifuge
	url = https://github.com/code-423n4/2023-09-centrifuge.git
[submodule "findings/054/2022-05-cally"]
	path = findings/054/2022-05-cally
	url = https://github.com/code-423n4/2022-05-cally.git
[submodule "findings/058/2022-06-putty"]
	path = findings/058/2022-06-putty
	url = https://github.com/code-423n4/2022-06-putty.git
[submodule "findings/066/2023-11-kelp"]
	path = findings/066/2023-11-kelp
	url = https://github.com/code-423n4/2023-11-kelp.git
[submodule "findings/070/2024-08-ph"]
	path = findings/070/2024-08-ph
	url = https://github.com/code-423n4/2024-08-phi.git
[submodule "findings/077/2024-02-ai-arena"]
	path = findings/077/2024-02-ai-arena
	url = https://github.com/code-423n4/2024-02-ai-arena.git
[submodule "findings/091/2023-07-basin"]
	path = findings/091/2023-07-basin
	url = https://github.com/code-423n4/2023-07-basin.git
[submodule "findings/098/2022-05-cally"]
	path = findings/098/2022-05-cally
	url = https://github.com/code-423n4/2022-05-cally.git
