[submodule "dataset/findings/1/2024-06-size"]
	path = dataset/findings/1/2024-06-size
	url = https://github.com/code-423n4/2024-06-size.git
[submodule "dataset/findings/3/2023-07-pooltogether"]
	path = dataset/findings/3/2023-07-pooltogether
	url = https://github.com/code-423n4/2023-07-pooltogether.git
[submodule "dataset/findings/8/2023-09-centrifuge"]
	path = dataset/findings/8/2023-09-centrifuge
	url = https://github.com/code-423n4/2023-09-centrifuge.git
[submodule "dataset/findings/9/2023-04-caviar"]
	path = dataset/findings/9/2023-04-caviar
	url = https://github.com/code-423n4/2023-04-caviar.git
[submodule "dataset/findings/15/2023-07-pooltogether"]
	path = dataset/findings/15/2023-07-pooltogether
	url = https://github.com/code-423n4/2023-07-pooltogether.git
[submodule "dataset/findings/18/2023-04-caviar"]
	path = dataset/findings/18/2023-04-caviar
	url = https://github.com/code-423n4/2023-04-caviar.git
[submodule "dataset/findings/20/2023-12-dodo-gsp"]
	path = dataset/findings/20/2023-12-dodo-gsp
	url = https://github.com/sherlock-audit/2023-12-dodo-gsp.git
[submodule "dataset/findings/32/2022-06-putty"]
	path = dataset/findings/32/2022-06-putty
	url = https://github.com/code-423n4/2022-06-putty.git
[submodule "dataset/findings/33/2023-04-caviar"]
	path = dataset/findings/33/2023-04-caviar
	url = https://github.com/code-423n4/2023-04-caviar.git
[submodule "dataset/findings/39/2024-03-axis-finance"]
	path = dataset/findings/39/2024-03-axis-finance
	url = https://github.com/sherlock-audit/2024-03-axis-finance.git
[submodule "dataset/findings/41/2024-03-axis-finance"]
	path = dataset/findings/41/2024-03-axis-finance
	url = https://github.com/sherlock-audit/2024-03-axis-finance.git
[submodule "dataset/findings/42/2025-07-cap"]
	path = dataset/findings/42/2025-07-cap
	url = https://github.com/sherlock-audit/2025-07-cap.git
