[submodule "dataset/findings/1/2024-06-size"]
	path = dataset/findings/1/2024-06-size
	url = https://github.com/code-423n4/2024-06-size.git
[submodule "dataset/findings/3/2023-07-pooltogether"]
	path = dataset/findings/3/2023-07-pooltogether
	url = https://github.com/code-423n4/2023-07-pooltogether.git
[submodule "dataset/findings/8/2023-09-centrifuge"]
	path = dataset/findings/8/2023-09-centrifuge
	url = https://github.com/code-423n4/2023-09-centrifuge.git
[submodule "dataset/findings/9/2023-04-caviar"]
	path = dataset/findings/9/2023-04-caviar
	url = https://github.com/code-423n4/2023-04-caviar.git
[submodule "dataset/findings/15/2023-07-pooltogether"]
	path = dataset/findings/15/2023-07-pooltogether
	url = https://github.com/code-423n4/2023-07-pooltogether.git
[submodule "dataset/findings/18/2023-04-caviar"]
	path = dataset/findings/18/2023-04-caviar
	url = https://github.com/code-423n4/2023-04-caviar.git
[submodule "dataset/findings/20/2023-12-dodo-gsp"]
	path = dataset/findings/20/2023-12-dodo-gsp
	url = https://github.com/sherlock-audit/2023-12-dodo-gsp.git
[submodule "dataset/findings/32/2022-06-putty"]
	path = dataset/findings/32/2022-06-putty
	url = https://github.com/code-423n4/2022-06-putty.git
[submodule "dataset/findings/33/2023-04-caviar"]
	path = dataset/findings/33/2023-04-caviar
	url = https://github.com/code-423n4/2023-04-caviar.git
[submodule "dataset/findings/39/2024-03-axis-finance"]
	path = dataset/findings/39/2024-03-axis-finance
	url = https://github.com/sherlock-audit/2024-03-axis-finance.git
[submodule "dataset/findings/41/2024-03-axis-finance"]
	path = dataset/findings/41/2024-03-axis-finance
	url = https://github.com/sherlock-audit/2024-03-axis-finance.git
[submodule "dataset/findings/42/2025-07-cap"]
	path = dataset/findings/42/2025-07-cap
	url = https://github.com/sherlock-audit/2025-07-cap.git
[submodule "dataset/findings/46/2023-05-xeth"]
	path = dataset/findings/46/2023-05-xeth
	url = https://github.com/code-423n4/2023-05-xeth.git
[submodule "dataset/findings/48/2023-04-caviar"]
	path = dataset/findings/48/2023-04-caviar
	url = https://github.com/code-423n4/2023-04-caviar.git
[submodule "dataset/findings/49/2023-08-cooler"]
	path = dataset/findings/49/2023-08-cooler
	url = https://github.com/sherlock-audit/2023-08-cooler.git
[submodule "dataset/findings/50/2023-09-centrifuge"]
	path = dataset/findings/51/2023-09-centrifuge
	url = https://github.com/code-423n4/2023-09-centrifuge.git
[submodule "dataset/findings/54/2022-05-cally"]
	path = dataset/findings/54/2022-05-cally
	url = https://github.com/code-423n4/2022-05-cally.git
[submodule "dataset/findings/58/2022-06-putty"]
	path = dataset/findings/58/2022-06-putty
	url = https://github.com/code-423n4/2022-06-putty.git
[submodule "dataset/findings/66/2023-11-kelp"]
	path = dataset/findings/66/2023-11-kelp
	url = https://github.com/code-423n4/2023-11-kelp
[submodule "dataset/findings/70/2024-08-ph"]
	path = dataset/findings/70/2024-08-ph
	url = https://github.com/code-423n4/2024-08-phi.git
[submodule "dataset/findings/77/2024-02-ai-arena"]
	path = dataset/findings/77/2024-02-ai-arena
	url = https://github.com/code-423n4/2024-02-ai-arena.git
